[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
aiofiles = "==0.6.0"
fastapi = "==0.63.0"
fire = "==0.4.0"
ipython = "==7.20.0"
matplotlib = "==3.3.4"
numpy = "==1.20.1"
opencv-python = "==4.5.1.48"
pathlib = "==1.0.1"
python-multipart = "==0.0.5"
scikit-image = "==0.18.1"
scikit-learn = "==0.24.1"
scipy = "==1.6.0"
tb-nightly = "==2.5.0a20210215"
tqdm = "==4.56.2"
uvicorn = "==0.11.7"
"delegator.py" = "==0.1.1"
tensorboardX = "==2.4.1"

[requires]
python_version = "3.7"
