aiofiles==0.6.0
delegator-py==0.1.1
fastapi==0.65.2
fire==0.4.0
ipython==7.20.0
matplotlib==3.3.4
numpy==1.20.1
opencv-python==4.5.1.48
pathlib==1.0.1
python-multipart==0.0.5
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
setuptools==41.0.1
tb-nightly==2.5.0a20210215
tensorboardX==2.1.0
tqdm==4.56.2
uvicorn==0.11.7
email-validator
requests~=2.22.0
idna==2.8.0
